$colorBlue: #0062ff;
* {
    box-sizing: border-box;
}
body {
    font-family: 'Consolas', serif;
    font-weight: 700;
}
.container {
    max-width: 740px;
    margin: 0 auto;
}
.header__title {
    color: $colorBlue;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    &:before {
        content: '';
        position: absolute;
        width: 145px;
        height: 1px;
        background-color: #454a52;
        opacity: 0.2;
        right: 0px;
        top: 50%;
    }
    &:after {
        content: '';
        position: absolute;
        width: 145px;
        height: 1px;
        background-color: #454a52;
        opacity: 0.2;
        left: 0px;
        top: 50%;
    }
}
.header-img {
    width: 100%;
    height: 300px;
    background-color: transparent;
    position: relative;
    background-image: url(../books.png);
    background-repeat: no-repeat;
    margin-bottom: 15px;
    &:before {
        content: '';
        border: 8px solid transparent; 
        border-bottom: 8px solid #fff;
        position: absolute;
        bottom: 0;
        left: 80px;
    }
}


.img__date {
    background-color: rgba(255, 255, 255, 0.7);
    width: 120px;
    height: 100px;
    border: 1px solid #fff;
    position: absolute;
    top: 150px;
    left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    left: 20px;
}
.date {
    color: #202326;
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 24px;
}
.number {
    &:after {
        content: '';
        position: absolute;
        border: 3px solid transparent; 
        border-left: 3px solid #202326;;
        top: 34px;
        right: 27px;
    }
}
.month {
    font-size: 21px;
}
.header__subtitle {
    color: #202326;
    font-family: "Arial - Italic MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #454a52;
        opacity: 0.2;
        position: absolute;
        top: 74px;
        left: 0;
    }
}